.banner {
  background: linear-gradient(to left, #cc5500, #cc7000);
  color: whitesmoke;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  padding: 1.2rem 1.6rem;
  border-radius: 8px;
  border: 2px solid #fff;
  box-shadow: 2px 2px 5px 2px rgba(0 0 0 / 17%);
  text-wrap: balance;

  @media(max-width: 480px) {
    border: none;
    border-bottom: 2px solid white;
    border-radius: 0;
  }
}
