<cm-section>

  <p>WebDev, creative, design, games, music. multi modal.</p>

  <cm-image [isRounded]="true" url="coenmooij.jpg" description="Coen Mooij"></cm-image>

  <caption>Me</caption>

</cm-section>

<cm-section>

  <cm-bar>

    <cm-category-card category="Curriculum Vitae">
      <cm-icon slot="icon" set="solid" icon="address-card"></cm-icon>

      <cm-button slot="footer" [isFullWidth]="true" link="/cv">Link to my CV</cm-button>

    </cm-category-card>

    <cm-category-card category="Open Source">
      <cm-icon slot="icon" icon="laptop-code"></cm-icon>
      <ul>
        <li>StandardKit</li>
        <li>nest-architect</li>
        <li>SudokuKit</li>
      </ul>
    </cm-category-card>

    <cm-category-card category="Music">
      <cm-icon slot="icon" icon="music"></cm-icon>
    </cm-category-card>
    <cm-category-card category="SaaS Platforms">
      <cm-icon slot="icon" icon="user-tie"></cm-icon>
    </cm-category-card>


    <cm-category-card category="Side Projects">
      <cm-icon slot="icon" icon="lightbulb"></cm-icon>
      <ul>
        <li>Hermetic7.com</li>
        <li>ikwilklaverjassen.nl</li>
      </ul>
    </cm-category-card>
    <cm-category-card category="Games">
      <cm-icon slot="icon" icon="gamepad"></cm-icon>
    </cm-category-card>
    <cm-category-card category="Design">
      <cm-icon slot="icon" icon="palette"></cm-icon>
    </cm-category-card>
    <cm-category-card category="AI">
      <cm-icon slot="icon" icon="robot"></cm-icon>
    </cm-category-card>



  </cm-bar>

</cm-section>

