.page {
  height: 100vh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.4rem;
  gap: 1.6rem;
}

.page__header {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.page__body {
  flex-grow: 1;
  border: 2px solid #232323;
  background-color: white;
  box-shadow: 2px 2px 5px 2px rgba(0 0 0 / 17%);
  border-radius: 8px;
  padding: 1.2rem 1.6rem;
}

