.page {
  height: 100vh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.4rem;
  gap: 1.6rem;
}

.page__header {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.page__body {
  flex-grow: 1;
  border: 2px solid #232323;
  background-color: white;
  border-radius: 8px;
  padding: 2.4rem 3.2rem;
}

.page__footer {
  padding-bottom: 2.4rem;
}

