.image {

  &--rounded {
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 2px 2px 5px 2px rgba(0 0 0 / 17%);
  }

  &--fullwidth {
    width: 100%;
  }

  &--inline {
    height: 1em;
  }
}
