@use '@coenmooij/borders';
@use '@coenmooij/colors';

.category_card {
  min-width: 28rem;
  border-radius: borders.$radius-l;
  background-color: colors.$background-white;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 2px 2px 5px 2px colors.$shadow;

  @media(max-width: 480px) {
    border-radius: 0;
  }
}

.category_card__icon {
  padding: 1.6rem 2.4rem 0;
  font-size: 4.8rem;
  text-align: center;
}

.category_card__header {
  padding: 1rem 1.6rem;
  text-align: center;
}

.category_card__body {
  flex-grow: 1;
  padding: 1.6rem 2rem;
}

.category_card__footer {
  padding: 0 2rem 2rem;
}
