*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 1rem = 10px
  text-rendering: optimizeLegibility;
  height: 100%;
  background-color: #f7f7f7;
}

body {
  font-size: 1.6rem;
  line-height: 1.7;
  font-family: 'Roboto', sans-serif;
  height: 100%;


  &::before, &::after {
    content: '';
    position: fixed;
    overflow: hidden;
    background: url('/digitalvibe-icon.png') repeat-y center;
    background-size: 3.6rem;
    height: 100vh;
    width: max(0px, calc(100vw - 1200px) / 2);
    top: 0;
  }

  &::after {
    right: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  text-wrap: balance;
}

a {
  text-decoration: none;
}

ul {
  margin-left: 1.7em;
}
